.certo {
    background-color: #4CAF50; /* Cor de fundo */
    color: white;             /* Cor do texto */
    border-style:none;    /* Estilo da borda */
    border-color: #000000;             /* cor borda */
    width: 60px;              /* Largura do botão */
    height: 60px;             /* Altura do botão */
    border-radius: 50%;       /* Transformar em círculo */
    font-size: 24px;          /* Tamanho do texto */
    cursor: pointer;          /* Cursor em forma de mão */
    display: flex;            /* Centralizar conteúdo */
    justify-content: center;  /* Centralizar horizontalmente */
    align-items: center;      /* Centralizar verticalmente */
    transition: background-color 0.3s ease; /* Animação no hover */
  }
  .certo:hover {
    background-color: #d40909; /* Cor ao passar o mouse */
  }
  .certo {
    margin: auto;
}